.mainInfo {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.clothing {
  width: 98%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
}

.categoryHeaders {
  width: 98%;
  height: 40%;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center; /*make right side when pngs are normalized*/
  justify-content: flex-start;
}

.productImg {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
