<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freewave Athletics</title>
    <link
      rel="icon"
      href="https://huntergs16.github.io/static/main/images/iconified/apple-touch-icon-144x144.png"
    />
    <style>
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
      }
    </style>
    <link rel="stylesheet" href="/static/main/css/footer.css" />
    <link rel="stylesheet" href="/static/main/css/header.css" />
    <link rel="stylesheet" href="/static/main/css/navBar.css" />
    <link rel="stylesheet" href="/static/main/css/AboutPageMain.css" />
    <link rel="stylesheet" href="/static/main/css/windowfix.css" />
    <script src="/static/main/js/navControls.js" defer></script>
  </head>

  <body>
    <header>
      <div class="headerWrapper">
        <div style="flex: 1" class="intro">
          <p>
            <i>
              To motivate and inspire everyone to become the best version of
              themselves through their training and lifestyle.
            </i>
          </p>
        </div>
        <img style="flex: 1" src="/static/main/images/logosketch.png" alt="" />
        <div style="flex: 1" class="socials">
          <a class="headerLink" href="https://twitter.com/FreewaveMVMT">
            <img
              src="/static/main/images/twitter.png"
              alt="twitter"
              class="twitterIcon"
            />
          </a>
          <a
            class="headerLink"
            href="https://www.instagram.com/freewaveathletics/"
          >
            <img
              src="/static/main/images/instagram-icon.png"
              alt="instagram"
              class="instagramIcon"
            />
          </a>
          <a
            class="headerLink"
            href="https://www.instagram.com/freewavemovement/"
            >FWM</a
          >
          <a class="headerLink" href="">Email</a>
        </div>
      </div>
    </header>
    <div class="navBar">
      <div class="dropdown">
        <button class="dropbtn">
          <img
            src="/static/main/images/menu-bars.png"
            alt="menu-bar"
            id="dropDownBtn"
          />
        </button>
      </div>
      <a class="navLink" href="/index.html">Home</a>
      <a class="navLink" href="">Shop</a>
      <a class="navLink" href="/static/main/templates/About.html">About</a>
      <a class="navLink" href="/static/main/templates/ContactPage.html"
        >Contact</a
      >
      <a class="shoppingCart" href="">
        <img
          src="/static/main/images/shopping-cart-icon.png"
          alt="Shopping cart"
          class="shoppingCartLogo"
        />
      </a>
    </div>
    <div class="dropdown-content">
      <a class="dropLink" href="/index.html">Home</a>
      <a class="dropLink" href="">Shop</a>
      <a class="dropLink" href="/static/main/templates/About.html">About</a>
      <a class="dropLink" href="/static/main/templates/ContactPage.html"
        >Contact</a
      >
    </div>

    <main>
      <div class="mainInfo">
        <h1>About Us</h1>
      </div>
    </main>
  </body>

  <footer>
    <hr />
    <h3>©Freewave Movement 2023</h3>
  </footer>
</html>
